* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
}

Link {
  text-decoration: none;
  color: inherit;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #282c34;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 1rem;
}

a {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
}
a.active {
  color: red;
}

.container {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 50px;
}